*,div,pre,textarea,body,input,td,tr,p {
    background-color: #2E3440 !important;
    background-image: none !important;
    color: #ECEFF4 !important;
}
h1,h2,h3,h4 {
    background-color: #2E3440 !important;
    color: #ECEFF4 !important;
}
img {
    opacity: 1;
}
img:hover {
    opacity: 1;
}

* {
	font-family: Tahoma, Verdana, sans-serif;
	font-size: 18px
}

